body
{
    background-color: rgb(245, 238, 238);
}

a{
    text-decoration: none;
    color: rgba(85, 78, 78,0.7);
    
}
.line{
    text-decoration:line-through;
    
}

#btn{
    border-radius: 10px;
    padding-left: 15px;
    padding-right: 15px;
    color:white;
    background-color: tomato;
    
}
#images{
    float: left;
    width:75%; 
    
}
#image{
    float: left;  
    padding: 10px;
    width:auto;
    height: 110px;
    
    

}
.side{
    background-color: rgb(255, 255, 255);
    height: 100px;
    width: 90px;
    text-align: center;
    border-radius: 10px;
    line-height: 30px;
    font-weight: bold;
    
}


img{
    height: 50px;
    width: 50px;
    background-color: rgb(199, 186, 186);
    border-radius: 50%;
    

}
.side > p {
    font-size: 10px;
    padding: 5px;
    margin: 0;
    color: rgb(17, 14, 14);
    height: auto;
  }
  #dd{
      font-size: large;
      color: rgb(224, 19, 19);
  }
  #ddd{
      font-size: large;
      color: rgb(206, 30, 53);
  }
  
  #rightbox{
      font-size: 12px;
      color: rgb(64, 64, 66);
  }

  
  @media only screen and (max-width: 1200px) and (min-width: 1020px){
    #Left-box >h1{
        font-size: 40px;
    }
    #middle-box > h1{
        font-size: 50px;

    }
    .side{
        width: 130px;
    }
    #rightbox{
        padding-top: 80px;
    }
    nav{
        margin-left: 20px;
     } 
     #Left-box{
        font-size: 20px;
        float: left; 
        width: 20%;  
    }
    #middle-box{
        float: left;
        width: 50%; 
        padding-top: 40px;
    }
    #dd{
        display: none;
    }
    #ddd{
        display: none;
    }
    #btn{
        visibility: visible;
    }
}
@media only screen and (max-width: 1019px) and (min-width: 820px){
    #Left-box >h1{
        font-size: 35px;
    }
    #middle-box > h1{
        font-size: 40px;

    }
    .side{
        width: 100px;
    }
    #rightbox{
        padding-top: 80px;
    }
    nav{
        margin-left: 20px;
     } 
    #Left-box{
        font-size: 18px;
        float: left; 
        width: 20%;  
    }
    #middle-box{
        float: left;
        width: 50%; 
        padding-top: 40px;
    }
    #dd{
        display: none;
    }
    #ddd{
        display: none;
    }
    
}
@media only screen and (max-width: 819px) and (min-width: 601px){
    #Left-box >h1{
        font-size: 30px;
    }
    #middle-box > h1{
        font-size: 35px;

    }
    .side{
        width: 68px;
    }
    #rightbox{
        padding-top: 80px;
    }
    nav{
        margin-left: 20px;
     }
    #Left-box{
        font-size: 15px;
        float: left; 
        width: 20%;  
    } 
    #middle-box{
        float: left;
        width: 50%; 
        padding-top: 40px;
    }
    #dd{
        display: none;
    }
    #ddd{
        display: none;
    }
    
}

@media only screen and (max-width: 600px) and (min-width: 400px){
    
    #middle-box > h1{
        font-size: 59px;
        float: left;
        width: 100%;

    }
    
    .side{
        width:130px;
        margin: 0 12px;
        
    }
    .lastImage{
        display: none;
    }
    #rightbox{
        padding-top: 465px;   
    } 
    #sum{
        display: none;
    }
    
    
    
    #ddd >div{
        width: 25px;
        height: 3px;
        background-color: lightgray;
        margin: 5px;
        

    }
    a{
       
        /* float: left; */
        padding: 3px;
        font-size: 18px;
        display: none;
    }
    #btn{
        display: flex;
        visibility: hidden;
        float: right;
    }
    
    #ddd,#ipsum,#dd{
        display: inline;
        
    }
    
    #ddd{
        float: left;
        padding-top:10px;
        
    }
    #dd{
        float: right;
        padding-right: 50px;

    }
    #ipsum{
        padding: 120px;    
        
    }
    
}

    
